* {
  font-family: "Ubuntu Nerd Font", "Font Awesome 6 Pro";
  font-size: 15px;
}
window#waybar {
  background-color: #242933;
  color: #ffffff;
  border-radius: 8px;
  border-width: 3px;
  border-color: #3b4252;
  border-style: solid;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#workspaces,
#custom-calendar_clock,
#custom-weather,
#cpu,
#memory,
#custom-rate,
#custom-inetspeedup,
#custom-inetspeeddown,
#tray,
#custom-separator,
#mode,
#custom-lock,
#workspaces,
#idle_inhibitor,
#power-profiles-daemon,
#custom-powermenu,
#custom-launcher,
#custom-vpn,
#custom-borg,
#temperature,
#cpu {
  color: #fa9f8e;
  border-radius: 8px 8px 8px 8px;
}
#custom-waybar-mpris {
  color: #fa9f8e;
}
#custom-lyrics {
  margin-left: 10px;
  margin-right: 10px;
}
#image {
  margin-left: 10px;
  margin-right: 10px;
}

#temperature {
  color: #fa9f8e;
  border-radius: 8px 8px 8px 8px;
}
#custom-tailscale {
  color: #81a1c1;
  border-radius: 8px 8px 8px 8px;
}
#cutom-borg {
  color: #fa9f8e;
  border-radius: 8px 8px 8px 8px;
}
#power-profiles-daemon {
  color: #fa9f8e;
  border-radius: 8px 8px 8px 8px;
}
#memory {
  font-size: 15px;
  color: #81a1c1;
  border-radius: 8px 8px 8px 8px;
}
#custom-inetspeeddown {
  font-size: 15px;
  color: #81a1c1;
  border-radius: 8px 8px 8px 8px;
}
#custom-inetspeedup {
  font-size: 15px;
  color: #81a1c1;
  border-radius: 8px 8px 8px 8px;
}

@keyframes button_activate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

#workspaces button {
  border: none;
  color: #d4d2a9;
  padding: 3px;
  background: transparent;
  box-shadow: none;
}

#workspaces button.active {
  color: #81a1c1;
  background: radial-gradient(
    circle,
    rgba(20, 48, 187, 0.699) 5%,
    rgba(36, 39, 54, 0.5) 18%,
    rgba(132, 129, 156, 0) 23%,
    rgba(70, 76, 98, 0.201) 24%,
    rgba(132, 129, 156, 0) 30%
  );
  animation: button_activate 0.2s ease-in-out;
}

#workspaces button.urgent {
  color: #fa9f8e;
  background: radial-gradient(
    circle,
    rgba(25, 79, 255, 0.3) 20%,
    rgba(132, 129, 156, 0) 30%
  );
}

#workspaces button.persistent {
  color: #85909e;
}

#workspaces button:hover {
  border: none;
  background: radial-gradient(
    circle,
    rgba(25, 79, 255, 0.1) 20%,
    rgba(132, 129, 156, 0) 30%
  );
}

#workspaces button.active:hover,
#workspaces button.urgent:hover {
  background: inherit;
}

#custom-launcher {
  margin-left: 10px;
  margin-right: 10px;

  padding-right: 5px;
  padding-left: 0px;

  font-size: 22px;

  color: #7a95c9;

  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px 8px 8px 8px;
}

#workspaces,
#custom-calendar_clock,
#custom-weather,
#custom-network_speed,
#cpu,
#custom-song_name,
#custom-vpn,
#custom-borg,
#temperature,
#power-profiles-daemon,
#memory,
#custom-tailscale,
#custom-rate,
#custom-inetspeedup,
#custom-inetspeeddown,
#pulseaudio,
#custom-separator,
#tray #network {
  background-color: #3b4252;
  padding: 0em 2em;

  font-size: 20px;

  padding-left: 7.5px;
  padding-right: 7.5px;

  padding-top: 2px;
  padding-bottom: 2px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  font-size: 19px;
}
#custom-separator {
  color: #1b5e20;
  margin: 0 5px;
}
#workspaces {
  padding-right: 10px;
}
#custom-pwrate {
  color: #81a1c1;
  padding-left: 10px;
  margin-right: 15px;
  font-size: 13px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -15px;
}

#wireplumber {
  color: #81a1c1;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 23px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -15px;
}

#wireplumber.muted {
  color: #fb958b;
  padding-left: 10px;
  font-size: 23px;
  border-radius: 0px 8px 8px 0px;
}

#backlight {
  color: #81a1c1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  border-radius: 8px 8px 8px 8px;
}
#custom-wf-recorder {
  color: #ff0000;
}

#network {
  padding-left: 0.2em;
  color: #5e81ac;
  border-radius: 8px 8px 8px 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 19px;
}

#network.disconnected {
  color: #fb958b;
}

#battery {
  color: #81a1c1;
  font-size: 19px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #81a1c1;
  font-size: 19px;
}

#battery.charging {
  font-size: 19px;
}

#battery.full,
#battery.plugged {
  font-size: 19px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-lock {
  color: #ecd3a0;
  padding: 0 15px 0 15px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#custom-calendar_clock {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#bluetooth {
  color: #fb958b;
  padding-left: 10px;
  margin-right: -5px;
  font-size: 18px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
}

#bluetooth.on {
  color: #fb958b;
  padding-left: 10px;
  margin-right: -5px;
  font-size: 18px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
}

#bluetooth.connected {
  color: #81a1c1;
  padding-left: 10px;
  margin-right: -5px;
  font-size: 18px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
}

#bluetooth.off {
  color: #8a909e;
  padding-left: 10px;
  margin-right: -5px;
  font-size: 18px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
}

#custom-powermenu {
  color: #e78284;
  margin-right: 12px;
  border-radius: 8px;
  padding: 0 6px 0 6.8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

tooltip {
  font-family: Ubuntu Nerd Font;
  border-radius: 8px;
  padding: 15px;
  background-color: #242933;
}

tooltip label {
  font-family: Ubuntu Nerd Font;
  padding: 5px;
  background-color: #242933;
}

#now_playing > tooltip {
  background-color: red;
}

label:focus {
  background-color: #242933;
}

#tray {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  border-radius: 8px 8px 8px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #242933;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#memory,
#custom-rate,
#custom-tailscale,
#custom-inetspeedup,
#custom-inetspeeddown,
#cpu {
  font-size: 15px;
}

#custom-waybar-mpris {
  font-size: 15px;
}

#power-profiles-daemon {
  font-size: 15px;
}

#temperature {
  font-size: 15px;
}
#custom-vpn {
  font-size: 15px;
}
#custom-borg {
  font-size: 15px;
}
#custom-song_name,
#custom-spotify,
#custom-next,
#custom-pre {
  background-color: #3b4252;
  font-size: 20px;
  padding-right: 6.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#custom-weather.severe {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-weather.sunnyDay {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-weather.clearNight {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-weather {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}
#custom-network_speed {
  color: #8a909e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}
#waybar.info {
  	background-color: rgba(10, 10, 10, 0.0);
	font-family: JetBrainsMonoNL Nerd Font Mono;
	font-size: 14px;
}

#submap {
  	background-color: rgba(10, 10, 10, 0.8);
  	color: rgba(152, 239, 106, 1);
}
